@using Shop.Data.Models 
<h1>Все оборудование</h1>
    <h3>@Model.CurrCategory</h3>
    <div class="row mt-5 mb-2">
        @{
            foreach (Item el in Model.AllItems)
            {
                @Html.Partial("AllItems",el)
            }
        }
    </div>

